@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
body h1,h2,h3,li {
    font-family: Montserrat;
}
body p{
    font-family: Roboto;
}
header {
    height: 50vh;
    position:relative;
    z-index: 100;
    background: rgba(24, 19, 19, 0.1);
}

.menu {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}

.logo {
    width: 150px; 
    height: 100px; 
}

.menu.abajo {
    background-color: #fff;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li {
    margin: 0 15px;
    position: relative;
}

.menu ul li a {
    font-family: Helvetica;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.7s;
    display: block;
    transition: all .2s ease;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu.abajo .logo,
.menu.abajo ul li a {
    color: #000;
}

header .logo {
    border-radius: 50%;
}

.portada {
    height: 50vh; 
    background-image: url('../../imgPage/imagen1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 18.8%;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
}

.menu-desglos{
    position: fixed;
    top:50px;
    right: 50px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    
}
.concepto_general{
    background: #f0f4f8;
    padding: 50px 10em;
    line-height: 2em;
    margin-bottom: 2em;
}
.concepto_general h1{
    padding-bottom: 1em;
    color:#0056b3;
    font-size: 45px;
    font-weight: bold;
}
/* CARRUSEL INICIO */

.carrusel{
    width: 100vw;
    height:70vh ;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carrusel .list .item{
    position: absolute;
    inset: 0 0 0 0; /*FOrma de escribir top, right: , left y bottom */
}

.carrusel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.carrusel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color:#fff;
    text-shadow: 0 5px 10px #0004;
}
.carrusel .list .item .content .autor{
    font-weight: bold;
    letter-spacing: 5px;
}
.carrusel .list .item .content .title{
    font-weight: bold;
    font-size: 5em;
    list-style: 50em;
    color: #f1683a;
}




 /* thumbnail */

.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 70%;
    width: max-content;
    z-index: 50;
    display: flex;
    gap: 20px
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title{
    font-weight: bold;
    color: #eee;
}

 /* arrows */

.arrows{
    position: absolute;
    top:80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border:none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 1;
}
.arrows button:hover{
    background-color: #eee;
    color:#555;
}
.carrusel .list .item:nth-child(1){
    z-index:1 ;
}

.carrusel .list .item:nth-child(1) .autor,
.carrusel .list .item:nth-child(1) .title,
.carrusel .list .item:nth-child(1) .description{
    transform: translateY(50px);
    filter:blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carrusel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}

.carrusel .list .item:nth-child(1) .description{
    animation-delay: 1.4s;
}


.carrusel .next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position:absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carrusel.next .thumbnail .item:nth-child(0){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.carrusel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumnail .5s 1 forwards;
}

@keyframes transformThumnail {
    to{
        transform: translateX(0);
    }
}

.carrusel.prev .list .item:nth-child(1){
    z-index: 2;

}
.carrusel.prev .list .item:nth-child(1) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carrusel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carrusel.prev .list .item:nth-child(2) .autor,
.carrusel.prev .list .item:nth-child(2) .title,
.carrusel.prev .list .item:nth-child(2) .description,
.carrusel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform:translateX(150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carrusel.next .arrows button,
.carrusel.prev .arrows button{
    pointer-events: none;
}

.time{
    width: 100%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top:0;
    left: 0;
}
.carrusel.next .time,
.carrusel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to{
        width: 0;
    }
}


/* CARUUSEL FIN */

/* Contenedor principal de los objetivos */
.objetivos-main {
    padding: 2em 0;
    background: #f0f4f8;
    text-align: center;
}

/* Título principal */
.objetivo-vari {
    font-size: 1.5em;
    color: #0056b3;
    padding: 1em 0;
    margin-bottom: 1em;
}

/* Contenedor de todos los objetivos */
.objetivo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

/* Título de cada objetivo */
.ob-tit {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

/* Contenedor individual de cada objetivo */
.objetivo-var {
    width: 300px;
    padding: 1.5em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(30px); /* Inicialmente desplazado */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transición suave */
}

.objetivo-var.show {
    opacity: 1; 
    transform: translateY(0); 
}

.objetivo-var p {
    font-size: 1em;
    color: #555;
    line-height: 1.6em;
    margin-top: 0.5em;
}






/* 
FOOTER */
footer {
    background-color:#E0F7FA;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Cambiar a columna */
    align-items: center;
}

.footer-content {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-logo img {
    width: 21em;
    height: 200px;
}

.footer-info p {
    margin: 5px 0;
    
}

.footer-info {
    text-align: left;
}
.social-media {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0; 
}

.social-media-icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    color: #000;
    transition: background 0.3s, color 0.3s; /* Añadir transición para hover */
}

.social-media-icon:hover {
    background: #000;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
}

.line {
    width: 90%;
    max-width: 1200px;
    height: 2px;
    background: #000;
    margin-top: 20px; 
}
/* Tablet */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        background-color: #847b7bb5;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        display: none;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        margin: 15px 0;
        text-align: center;
    }

    .menu ul li a {
        color: #fff;
    }

    .menu-desglos {
        display: block;
    }

    .menu {
        height: auto;
        padding: 10px 20px;
    }
    

    .portada h1 {
        font-size: 2rem;
    }

    .portada p {
        font-size: 1rem;
    }

    .concepto_general{
        
        padding: 50px 5em;
        
    }
    .contenedor-main {
        grid-template-columns: 1fr;
    }
    .carrusel .list .item .content{
        padding-right: 0;
    }
    .carrusel .list .item .content .title{
        font-size: 50px;
    }
    .carrusel .list .item .content .autor{
      
        font-size: 22px;
    }
    .carrusel .list .item .content .description{
        font-size: 20px;
    }

    .objetivo {
        padding: 1em;
    }
    .objetivo-var {
        width: 90%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-logo img{
        width: 18em;
        height: 150px;
    }

    .social-media {
        justify-content: center;
    }

    .social-media-icon {
        margin: 10px;
    }
}

/* Responsi Mobile */
@media only screen and (max-width: 480px) {
    header{
        height: 30vh;
    }
    .cont-margin {
        margin-bottom: 0;
    }

    .menu {
        height: auto; 
        padding: 10px; 
    }

    .menu ul {
        position: absolute; 
        top: 100px;
        left: 0; 
        width: 100%; 
        background-color: #847b7bb5; 
        display: none; 
        flex-direction: column; 
        margin-top: 10px;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        margin: 10px 0; 
        text-align: center; 
    }

    .menu ul li a {
        color: #000;
    }

    .menu-desglos {
        display: block; 
    }

    .portada{
        height: 30vh;
    }

    .concepto_general{
        
        padding: 50px 2em;
        
    }
    .concepto_general h1{
        font-size: 35px;
    }

    .subtitulo {
        font-size: 2rem;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .texto {
        font-size: 1.5rem;
    }

    .item img {
        height: auto;
    }
    .carrusel {
        height: 50vh; /* Ajusta la altura del carrusel para pantallas más pequeñas */
    }

    .carrusel .list .item .content {
        top: 10%;
        width: 90%;
        padding-right: 0;
        max-width: 100%;
        font-size: 0.8em; /* Reduce el tamaño del texto */
    }

    .carrusel .list .item .content .title {
        font-size: 2em; /* Ajusta el tamaño del título */
    }

    .carrusel .thumbnail {
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        gap: 10px;
    }

    .thumbnail .item {
        width: 80px;
        height: 110px;
    }

    .arrows {
        top: 90%;
        right: 50%;
        transform: translateX(50%);
        width: 200px;
        max-width: 100%;
    }

    .arrows button {
        width: 30px;
        height: 30px;
        font-size: medium;
    }

    .footer-logo img {
        width: 15em;
        height: 120px;
    }

    .social-media-icon {
        width: 40px;
        height: 40px;
    }

    .social-media-icon i {
        font-size: 20px;
    }
}

